body{
    background-color:#2d3527;
}

.container{
    display:grid;
    grid-template-columns: [column-start] 20% [line2] auto [line3] 20% [column-end];
  grid-template-rows: [row-start] 20% [line2] auto [line3] 20% [row-end];
  justify-items:center;
  align-items: center;
}

.startDiv{
    grid-column-start: 2;
    grid-column-end:3;
    grid-row-start:2;
    grid-row-end:3;
    border: solid 2px #ffffff;

}